{{define "wikiHeaderCompoent"}}
<header class="qTp7noOcch-kSsmzxXFG5" data-reactid="2">
    <a href="/" class="_1sfyyRUhk7HUNJeXF173vM _2sp9OOLebNEdOOK61Cfe5D _13CpkGfayBKT1-JqGK28sX _198Rl6kicxZQt0wb40T5xV"
    data-reactid="3">
        <span class="_1DpdrZJBwoZQHW5hHNCapI" data-reactid="4">
            <span class="_3WrivyY_lzDsTPRcxgvrvi" data-reactid="5">
                狐狸
            </span>
            <span class="_3Z8iV9r0cMU7tSQzK-oDPx" data-reactid="6">
                狐狸
            </span>
        </span>
        <span class="pJLAEtl6mfMTWubEYGiQ4" data-reactid="7">
            <span class="_3WrivyY_lzDsTPRcxgvrvi" data-reactid="8">
                Fox
            </span>
            <span class="_3Z8iV9r0cMU7tSQzK-oDPx" data-reactid="9">
                Fox
            </span>
        </span>
        <span class="_1UZVOZYLn7YZ-vGhPMTaIT" data-reactid="10">
            wiki
        </span>
    </a>
    <div class="HFUvgNks0iAl223Q7djmE" data-reactid="11">
        <div class="_2PLNZuRfU4ebpEuZHqxnh1">
            <a href="https://github.com/zouhuigang/fox/wiki" class="_1sfyyRUhk7HUNJeXF173vM nF9oJiixLG_DK2AuB94C _3azOtSYQTPnJ4v4AZhtm3j">
                <div class="_2PNRJNNjA4_U0YygXkoknR PN5nC82Y_XkBlmPtcKrO1 _2R3D9EyubEb8XGzAa49UBB">
                </div>
                <span class="_28LYxH1g6qw4FJEXCF3SX8">
                    帮助文档
                </span>
            </a>
        </div>
        <div class="_2PLNZuRfU4ebpEuZHqxnh1">
            <a href="https://github.com/zouhuigang/fox" class="_1sfyyRUhk7HUNJeXF173vM nF9oJiixLG_DK2AuB94C _3N0HgGzZwsoToF3RCyOQKN">
                <div class="_2PNRJNNjA4_U0YygXkoknR _1isCJs4HwlsWfZ7fUdQRi8 _2R3D9EyubEb8XGzAa49UBB">
                </div>
                <span class="_28LYxH1g6qw4FJEXCF3SX8">
                    意见&amp;建议
                </span>
            </a>
        </div>
    </div>
    <a class="_1sfyyRUhk7HUNJeXF173vM" href="https://github.com/zouhuigang/fox/issues" data-reactid="27">
        <div class="_3LSQHhQYoARGIit2BfWmHT _2fCJ4u_MIrnXARCShN5dUt _1m1geBxdSKal_AIT8vsq_J"
        style="height:28px;width:28px;" data-reactid="28">
            <div class="_2PNRJNNjA4_U0YygXkoknR dcZD-qZIK9ddKTqy4tDbA _17VXWnNnO9aMXr1xfgNtMl"
            data-reactid="29">
            </div>
        </div>
    </a>
    <div data-reactid="30">
        <div class="_3LSQHhQYoARGIit2BfWmHT _2fCJ4u_MIrnXARCShN5dUt" style="height:28px;width:28px;"
        data-reactid="31">
            <div class="_2PNRJNNjA4_U0YygXkoknR _3Y-lkcrVl14CcWKSlD-sU8 _17VXWnNnO9aMXr1xfgNtMl"
            data-reactid="32">
            </div>
        </div>
        <div data-reactid="33">
            <!-- react-empty: 34 -->
            <!-- react-empty: 35 -->
        </div>
    </div>
</header>
{{end}}