{{define "wikPreviewCompoent"}}
{{/*最右边预览*/}}
<div class="_1Eaxsugk1GMHhw_G_Sakho" id="view">
    <div class="_3gSSfZ3hwMZA59VsDyo3lX _3JyurpLIIZZJQJVUztIRx">
        <div class="_2pcE6sKlxu423STGpC7YoF _1XK4vqxxkvKi9S5zF73ae6 _2tmCKpyhs7lg0t3GNxaEyI _2YMI3cg9p9tab6hmvmNQ10 _3h7q5jpqSS-4fPJJ2GRDra EEcFf0Pl9fVTQ2ypBr1Qx">
            <span class="_1XK4vqxxkvKi9S5zF73ae6">
                实时预览
            </span>
            <div class="_2PNRJNNjA4_U0YygXkoknR _1dER8gRAihsi8fpO33-Nhe _3v_zAVygGsgTOXKmtDSJoS">
                  
            </div>
        </div>

         
        {{/*预览中*/}}
        <div class="markdown-body" style="width:100%;" id="out" >
        </div>
        {{/*预览中end*/}}
    </div>
</div>
{{/*最右边预览end*/}}
{{end}}