*,p{ padding:0; margin:0;}
.h1, .h2, .h3, h1, h2, h3,.h4{ margin-top:0; font-size:inherit;}
ul,li{ list-style:none;}
button,img{ border:0;}
img{max-width:100%;}
a,a:hover{ text-decoration:none;}
.hd{ overflow:hidden;}
body{ font-family:'Microsoft YaHei';background:#f6f5f5; color:#535353; min-width: 320px; margin:0 auto; font-size:14px; padding-bottom:60px;}
input, input[type="submit"],input[type="reset"],input[type="button"],button {-webkit-appearance:none;border-radius:0}
select{-webkit-appearance:none;-moz-appearance:none;appearance:none}

/*clearfix*/
.clearfix:before,.clearfix:after{content:".";display:block;height:0;overflow:hidden;}
.clearfix:after{clear:both;}
.clearfix{zoom:1;/* IE < 8 */}

/* 个人中心 */
.header{ background:#000 url(../images/userTopbanner.png) no-repeat; background-size:100% auto;width:100%; text-align:center; color:#fff;}
.headbar{padding:4% 0 4%;}
.headimg{width:40%;max-width:254px; margin:0 auto; display:table}
.headimg a{ display:table-cell; width:48%;}
.headimg .userName{ display:table-cell; width:48%; vertical-align:middle; text-align:left; padding-left:20px}
.headimg .userName h1{font-size:18px; font-weight:bold; color:#fff; text-shadow:1px 1px 5px rgba(0,0,0,0.3); margin-bottom:5px;}
.headimg .userName p{font-size:14px;color:#fff; text-shadow:1px 1px 5px rgba(0,0,0,0.3);}
.headimg img{ border:2px solid #fff; border-radius:3px;}
.header strong{ font-size:16px;} 
.header  img,.header strong,.header p{ display:block; margin-bottom:10px;}
.nav{display:none}
.nav ul{background:rgba(0,0,0,0.3);verflow:hidden;padding:2% 0; }
.nav ul li{ display:block; float:left;width:50%; text-align:center; }
.nav ul li:nth-last-of-type(1) a{border:0}
.nav ul li a{ display:block; color:#fff;border-right:solid 1px rgba(255,255,255,0.4)}
.nav ul li a img{width:14.5%;max-width:31px; display:block; margin:0 auto 3%;} 
.main { margin-bottom:10px;}
.main ul { margin-top:10px; background:#fff;}
.main .userList dl{margin-top:10px; background:#fff; padding:5px 0 5px; position:relative; border:solid 1px #c8c8c8; border-width:1px 0; }
.main ul li{ padding:10px 0; margin:0 20px;}
.main .userList dl dd img{width:35px; height:35px; position:absolute; left:10px; top:50%; margin-top:-17.5px;}
.main .userList dl dd{  position:relative;padding-left:60px;}
.main .userList dl dd:nth-last-of-type(1){}
.main .userList dl dd:nth-last-of-type(1) a{border-bottom:0;}
.main .userList dl dd a{ padding:10px 10px 10px 0; display:block; color:#333; font-size:15px; background:url(../images/icon9.png) no-repeat 96% center; background-size:auto 20px;border-bottom:solid 1px #d7d8d9; padding-right:12%; position:relative}
.main .userList dl dd a span.new{display:inline-block; background:#ff692e; color:#fff; border-radius:3px; padding:0 5px; font-size:12px;}
.main .userList dl dd a span.jf{ position:absolute; top:10px; right:12%; color:#ff692e; font-size:12px; line-height:22px;}
.bd{ border-bottom:1px solid #e5e5e5;}
.main ul li a{ display:block;background: url(../images/icon7.png) no-repeat right center;background-size: auto 15px;display: block;padding-right: 8%; color:#535353; font-size:16px;}
.main ul li p img{width:5.9%; max-width:39px; margin:0 5px 0 0; vertical-align:middle;}
.main ul li p{ position:relative;}
.main ul li p span.jf{ position:absolute; top:0px; right:0px; color:#F00}
.main ul li.jfn p{font-size:16px;}

/* 关于 */
.headerabout{ background:url(../images/about1.png) repeat-x;background-size:100% 100%; text-align:center;padding: 2.6% 0;}
.headerabout img{width: 43.8%;max-width:280px;}
.mainabout ul li{ padding:20px; background:#fff;border-bottom:1px solid #e5e5e5;}
.mainabout ul li a{ display:block;background: url(../images/icon7.png) no-repeat right center;background-size: auto 15px;display: block;padding-right: 8%; color:#434343; font-size:16px;}
.footer{ border-top:1px solid #d2d2d2;width:94%; text-align:center; font-size:12px; position:fixed;bottom:0;left:3%; line-height:1.5em; padding:8px 0;}

/* 上传  */
.up{ padding:20px;}
.up dl{ color:#434343; margin-bottom:20px;}
.up dl dt{ margin-bottom:10px;}
.up dl dd input{ border:1px solid #dcdcdc; border-radius:5px;width:100%;height:40px; padding:5px; line-height:40px; background:#fff; 
-webkit-appearance:none;appearance:none;}
.up dl dd input#txtMobile{width:70%; font-size:16px;}
.up dl dd input#txtCode{ font-size:16px;}
.up button{ border-radius:5px;width:100%;height:40px; background:#0081fc; color:#fff; font-size:16px;}
.up .btnok{ border-radius:5px;width:100%;height:40px; background:#0081fc; color:#fff; font-size:16px;line-height:40px;text-align:center;}
.up dl dd{ position:relative;}
.up dl dd.file { text-align:center;}
.up dl dd.file input{width:100%;height:100%; margin:0 auto; position:absolute; opacity:0;}
.up dl dd.file img{width:26%; margin:0 auto; display:inline-block;max-width:156px;margin-bottom:-2px; }
.up dl dd.file span{ color:#929191; text-decoration:underline;display:block;margin-top:15px;}
.deva dt{ color:#454545; font-size:16px;}
.deva dt small{ color:#939393;}
.deva dd{ margin-top:20px;}

/*发送验证码*/
.pwd dl dd{ position:relative}
.pwd dl dd span{display:block; margin-bottom:5px;}
.pwd dl dd input#txtOldPwd{width:70%; }
.pwd dl dd a.sendCode{display:block; width:28%; background:#06F; color:#fff; text-align:center; position:absolute; bottom:0px; right:0px; height:40px; line-height:40px;border-radius:5px; cursor:pointer}
.pwd dl dd a.sendCodeStart{display:block; width:28%; background:#E6E6E6; color:#ccc; text-align:center; position:absolute; bottom:0px; right:0px; height:40px; line-height:40px;border-radius:5px; cursor:default}

/* 安全 */
.safe ul{ padding:0 20px 0; margin-top:20px; background:#fff;}
.safe ul li{ padding:15px 0;border-bottom:1px solid #e5e5e5; overflow:hidden;}
.safe ul li.bgnone{ border:0;}
.safe ul li p{ color:#434343; float:left; font-size:16px;}
.safe ul li span{ display:block; float:right; color:#a0a0a0;}
.safepass{ padding:15px 20px; background:#fff; margin-top:20px;}
.safepass a{ color:#535353;background: url(../images/icon7.png) no-repeat right center;background-size: auto 15px; display:block;}
.safepass a big{ font-size:16px;}
.safepass a small{ color:#959595; font-size:12px;}

/*返回按钮*/
.back{ position:fixed; width:45px; height:45px; background:rgba(255,255,255,0.5);left:10px; bottom:10px; text-align:center}
.back img{width:90%; position:relative;  top:3px}


/*替换掉button样式*/
.up .button {
    border-radius: 5px;
    width: 100%;
    height: 40px;
    background: #0081FC none repeat scroll 0% 0%;
    color: #FFF;
    font-size: 16px;
    line-height: 40px;
    text-align:center;
}