{{define "menu-left"}}
<!-- 菜单 -->
 <div class="pure-menu pure-menu-open">
            <a class="pure-menu-heading" href="/"><i class="fa fa-home"></i><span class="font-index-menu">安橙首页</span></a>
            <ul>
				<li><a href="/bottle"><i class="fa fa-heart"></i><span class="font-index-menu">漂流瓶</span></a></li>
				{{/*
				<li><a href="/blog"><i class="fa fa-book"></i><span class="font-index-menu">云笔记</span></a></li>
				*/}}
				<li><a href="/shop/tshow/"><i class="fa fa-shopping-bag"></i><span class="font-index-menu">装扮商城</span></a></li>
				{{ if .me.Uid }}
				<li><a href="/editor?kw={{.kw}}"><i class="fa fa-edit"></i><span class="font-index-menu">新建笔记</span></a></li>
				<li><a href="/u/{{.me.Username}}"><i class="fa fa-user"></i><span class="font-index-menu">{{.me.Username}}</span></a></li>			
				<li><a href="/u/{{.me.Username}}"><i class="fa fa-sign-out"></i><span class="font-index-menu">退出</span></a></li>
				{{else}}
				<li><a href="/login"><i class="fa fa-sign-in" aria-hidden="true"></i><span class="font-index-menu">登录注册</span></a></li>
				{{end}}
            </ul>
 </div>
{{end}}
