{{define "newslist0"}}
<!-- 没有图片 -->
	<li class="item-tt">
	<a href="/view/{{.Id}}">
		<div class="text">
			<p class="content_p">{{.Title}}</p>
			<p class="subhead"></p>
			<p class="date"><span class="time" title="{{.Ctime}}">{{timestamp .Ctime}}</span><span class="source_name">{{.Uid}}</span><span class="cmt_tt ">{{.Commentnum}}</span></p>
		</div>
	</a></li>

{{end}}



{{define "newslistLeft1"}}
<!-- 1张图片,在左边 -->
		<li data-pos="item" grab_time="1475628683530" recoid="16739863173314061198" class="item-tt" data-itemtype="operate" data-channel="100" data-article="5259557646590556888">
	    <a href="http://m.uczzd.cn/webview/news?app=webapp&amp;aid=5259557646590556888&amp;cid=100&amp;zzd_from=smhome&amp;uc_param_str=dndsfrvesvntnwpfgi&amp;recoid=16739863173314061198&amp;rd_type=reco&amp;sp_gz=0">
		<div class="newsimg-tt left"><img class="showImg finish" src="http://image.zzd.sm.cn/1448721399914415215.jpg?id=0&amp;height=150&amp;width=200"></div>
		<div class="text">
			<p class="content_p left">山东莱芜医生遭患者家属砍死 两部委督办案件侦办</p>
		<p class="subhead left"></p>
			<p class="date left"><span class="op_mark" style="color: #f24a3e;background: url(http://image.zzd.sm.cn/12013266730753243483.jpg?id=0) left center no-repeat;background-size: 12px;">事件追踪</span><span class="time" data-value="1475628683530" title="1475628683530">3分钟前</span><span class="source_name">新京报</span><span class="cmt_tt ">702</span></p>
		</div>
	</a></li>

{{end}}


{{define "newslistRight1"}}
<!-- 1张图片,在右边 -->

	<li data-pos="item" grab_time="1475545859325" recoid="920689326094066297" class="item-tt" data-itemtype="operate" data-channel="51830095" data-article="11391263073754802877">
    	<a href="/view/2">
		<div class="newsimg-tt"><img class="showImg finish" src="http://image.zzd.sm.cn/13781445497462765790.jpg?id=0&height=200&width=266"></div>
		<div class="text">
			<p class="content_p">123213: 中国借贷成本偏低 导致居民拼命贷款买房</p>
			<p class="subhead"></p>
			<p class="date"><span class="op_mark" style="color: #f24a3e;background: url(http://image.zzd.sm.cn/12013266730753243483.jpg?id=0) left center no-repeat;background-size: 12px;">国内关注</span><span class="time" data-value="1475545859325" title="1475545859325">刚刚</span><span class="source_name">参考消息</span><span class="cmt_tt ">1068</span></p>
		</div>
	</a></li>

{{end}}

{{define "neslist2"}}
<li data-pos="item" grab_time="1479452951000" recoid="6451172646170473985" class="item-tt" data-itemtype="operate" data-channel="100" data-article="5911304477800468633">
	<a href="http://zzd.sm.cn/webapp/webview/article/5911304477800468633?uc_param_str=dnnivebichfrmintcpgieiwidsudpf&amp;zzd_from=smhome&amp;app=webapp&amp;client_os=webapp&amp;sn=14152788232454044259&amp;uc_biz_str=S:custom|C:iflow_hide">
		<div class="picsTitle">金正恩视察西南前线 又见官兵跳海迎接</div>
		<div class="picsImg"><img style="width:100%" src="http://image.zzd.sm.cn/6132131041165688165.jpg?id=0" class="finish"><div class="isDraw"></div></div>
		<p class="subhead2"></p>
		<div class="picsInfo clearfix" style="margin-bottom:-3px;"><span class="time" data-value="1479452951000" title="1479452951000">22分钟前</span><span class="source_name">封面新闻</span><span class="cmt_tt ">2850</span></div>
	</a><div class="dislike bigpic" readid="13479230276296002807" recoid="6451172646170473985"></div></li>
{{end}}

{{define "newslist3"}}
<!-- 3张图片,在下边 -->

<li data-pos="item" grab_time="1475544659325" recoid="920689326094066297" class="item-tt" data-itemtype="operate" data-channel="51830095" data-article="7000855879443943800">
	<a href="http://m.uczzd.cn/webview/news?app=webapp&amp;aid=7000855879443943800&amp;cid=51830095&amp;zzd_from=smhome&amp;uc_param_str=dndsfrvesvntnwpfgi&amp;recoid=920689326094066297&amp;rd_type=reco&amp;sp_gz=0">
		<p class="content_p">秦皇岛外"打渔船"非法运营:100元1人 上船无票据</p>
		<div class="list-col3-tt clearfix">
			<div><p class="col3-0"><span class="col3-tt"><img src="http://image.zzd.sm.cn/10428128686420472006.jpg?id=0&height=200&width=266" data-width="500" data-height="375" class="finish"></span></p></div>
			<div><p class="col3-1"><span class="col3-tt"><img src="http://image.zzd.sm.cn/11264294969852047335.jpg?id=0&height=200&width=266" data-width="500" data-height="375" class="finish"></span></p></div>
			<div><p class="col3-2"><span class="col3-tt"><img src="http://image.zzd.sm.cn/16294518714207407091.jpg?id=0&height=200&width=266" data-width="500" data-height="375" class="finish"></span></p></div><div class="i-images">多图</div>
		</div>
		<div class="subhead col3"></div>
			<div class="date-col3"><span class="time" data-value="1475544659325" title="1475544659325">21分钟前</span><span class="source_name">新京报</span><span class="cmt_tt ">179</span></div>
	</a></li>


{{end}}


{{define "toutiao"}}

<li class="special_warpper" data-article="6199125457638667859" data-channel="100" style="border-top: 0px !important;"><div class="title_tt"><div><span></span><span>午间头条（11月22日）</span></div><div style="color: #f24a3e"><span style="border:1px solid #f24a3e">热闻</span></div></div><div class="dislike special" title="午间头条（11月22日）" readid="" recoid="1352479114259693948"></div><ul><li data-pos="item" grab_time="1479790675554" recoid="1352479114259693948" class="item-tt" data-itemtype="operate" data-channel="100" data-article="546962944220246187">
	<a href="http://m.uczzd.cn/webview/news?app=webapp&amp;aid=546962944220246187&amp;cid=100&amp;zzd_from=smhome&amp;uc_param_str=dndsfrvesvntnwpfgicp&amp;recoid=1352479114259693948&amp;rd_type=reco&amp;sp_gz=0&amp;uc_biz_str=S:custom|C:iflow_site">
		<div class="special_big_pic_tt"><img style="width:100%" src="http://image.zzd.sm.cn/17745401779595690426.jpg?id=0" class="finish"><div class="title"><p class="title_dis">日韩将签署情报共享协议 韩民众抗议起冲突</p></div></div>
	</a></li>
		<div class="special_border"></div><li data-pos="item" grab_time="1479790675554" recoid="1352479114259693948" class="item-tt" data-itemtype="operate" data-channel="100" data-article="13901286392075119366">
	<a href="http://m.uczzd.cn/webview/news?app=webapp&amp;aid=13901286392075119366&amp;cid=100&amp;zzd_from=smhome&amp;uc_param_str=dndsfrvesvntnwpfgicp&amp;recoid=1352479114259693948&amp;rd_type=reco&amp;sp_gz=0&amp;uc_biz_str=S:custom|C:iflow_site">
		<div class="newsimg-tt left"><img class="showImg finish" src="http://image.zzd.sm.cn/12776711764598015876.jpg?id=0&amp;height=150&amp;width=200"></div>
		<div class="text">
			<p class="content_p left">八达岭老虎伤人事件当事人起诉动物园 索赔154万</p>
		<p class="subhead left"></p>
			<p class="date left"><span class="op_mark" style="color: #f24a3e;background: url(http://image.zzd.sm.cn/12013266730753243483.jpg?id=0) left center no-repeat;background-size: 12px;">热点追踪</span><span class="time" data-value="1479790675554" title="1479790675554">6分钟前</span><span class="source_name fn-hide">新京报</span><span class="cmt_tt ">1882</span></p>
		</div>
	</a></li>
		<div class="special_border"></div><li data-pos="item" grab_time="1479790675554" recoid="1352479114259693948" class="item-tt" data-itemtype="operate" data-channel="100" data-article="4047428040191010732">
	<a href="http://m.uczzd.cn/webview/news?app=webapp&amp;aid=4047428040191010732&amp;cid=100&amp;zzd_from=smhome&amp;uc_param_str=dndsfrvesvntnwpfgicp&amp;recoid=1352479114259693948&amp;rd_type=reco&amp;sp_gz=0&amp;uc_biz_str=S:custom|C:iflow_site">
		<div class="newsimg-tt left"><img class="showImg finish" src="http://image.zzd.sm.cn/16169192537325198415.jpg?id=0&amp;height=150&amp;width=200"></div>
		<div class="text">
			<p class="content_p left">专家谈北京房价:不可能降 全国13.7亿人在支撑着</p>
		<p class="subhead left"></p>
			<p class="date left"><span class="time" data-value="1479790675554" title="1479790675554">6分钟前</span><span class="source_name">新京报</span><span class="cmt_tt ">1122</span></p>
		</div>
	</a></li>
		<div class="special_border"></div></ul><div class="special_entrance"></div></li>

	{{end}}
