<!doctype html>
<html lang="en">
<head>
{{template "header"}}
<link rel="stylesheet" href="/static/css/markdown.css"/>
</head>
 <body>
  <div class="no-view-content">
           <div class="pure-g">
                <div class="pure-u-1-4">
                    <img class="pure-img-responsive" src="/static/upload/u/avatar/10001/1421449353.jpg" alt="Peyto Lake">
                </div>
                <div class="pure-u-1-4">
                    <img class="pure-img-responsive" src="/static/upload/u/avatar/10001/1421449353.jpg" alt="Train">
                </div>
                <div class="pure-u-1-4">
                    <img class="pure-img-responsive" src="/static/upload/u/avatar/10001/1421449353.jpg" alt="T-Shirt Store">
                </div>
                <div class="pure-u-1-4">
                    <img class="pure-img-responsive" src="/static/images/index4.jpg" alt="Mountain">
                </div>
            </div>
 
			<div class="tips">	<img src="/static/images/404.gif"/><font class="font-ff6">经系统权威检测,由于你长得丑，所以无法查看该文章。赶紧回<a href="/" class="homePage">安橙网首页</a>提高颜值吧。</font></div>
 </div>
</body>
</html>
