a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,p,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
body{font-family:"Microsoft YaHei",Arial,Helvetica,sans-serif;background:#f9f5f5;min-width:320px;max-width:750px;margin:0 auto;}
a,button,input,textarea{outline: none;-webkit-tap-highlight-color: transparent;font-family:"Microsoft YaHei",Arial,Helvetica,sans-serif;}
a{ text-decoration:none;}

.mt12{ margin-top:12px;}
.ml5{ margin-left:5px}
.ml10{ margin-left:10px;}
.ml12{ margin-left:12px;}
.ml30{ margin-left:30px}
.mt10{ margin-top:10px;}
.hd{ overflow:hidden;}
ul li { list-style:none;}
.clear{ clear:both;}
.bigfont{ color:#333333;}
.font12{ font-size:12px;}
.font14{ font-size:14px;}
.red{ color:#ff3b2f;}
.lineh{ line-height:15px;}
.colorl{ color:#333333;}
.colorm{ color:#666666;}
.colors{ color:#999999;}
.bbn{ border-bottom:none;}
.overstriking{ font-weight:bold;}
.txtr{ text-align:right;}
.toptip{ text-align:center; font-size:14px;color:#fb705e;margin-top: 10px;}
.icon-tip{margin-right:2px;vertical-align: top;display:inline-block; width:20px;height:20px;background:url(../inc/images/tip.png) 0 0 no-repeat;background-size:contain;}

#content{ width:100%;}
.htbox{ border-bottom:1px solid #cdcccc;border-top:1px solid #cdcccc;display:block;width: 100%;margin-top:10px;}
.htbox-header{ background:#fff;padding:12px 3.2% 12px 3.2%;}
.htbox-header1{ background:#fff;padding:12px 3.2% 12px 0;margin-left:11.2%;border-bottom:1px solid #e1e1e1;}
.bgheader{ background:#f8f8f8;padding:12px 14px 0px 3.2%;}
.bgheader1{ background:#f8f8f8;padding:0px 14px 0px 3.2%;}
.placehold{ width:8%;display:inline-block;} 
.htbox-body { position:relative;}
.htbox-content{ background:#f8f8f8;color:#666666;padding:12px 3.73% 12px 3.2%;font-size:14px;line-height:26px;}
.htbox-content3{ background:#f8f8f8;color:#666666;padding:12px 3.73% 12px 3.2%;font-size:14px;line-height:26px;}
.htbox-content2{ background:#f8f8f8;color:#666666;padding:12px 3.73% 12px 3.2%;font-size:14px;line-height:26px;}
.htbox-content1{ background:#f8f8f8;color:#666666;padding:0px 3.73% 0px 3.2%;font-size:14px;line-height:26px;}
.htbox-content4{ background:#f8f8f8;color:#666666;padding:12px 3.73% 0px 3.2%;font-size:14px;line-height:26px;}
.htbox-content1 .right{ color:#ff3b2f;text-align:right;}
.lxbox{ width:11.2%;height:46px;display:inline-block;float:left;background:#ffffff;border:none;}

.htbox-line{ width:100%;margin-left:8.53%;padding:12px 14px 12px 0px;}
.htbox-content-box{ width:44%;display:inline-block;vertical-align:middle;}
.htbox-content-box1{ width:88%;margin-left:9%;}
.htbox-content-box1 p:last-child{ padding-bottom:10px;}
.htbox-content-box2{ width:44%;display:inline-block;vertical-align: middle;}
.htbox-content-box2 p:last-child{ padding-bottom:10px;}
.htbox-content-box3 { width:44%;display:inline-block;vertical-align:top;}
.htbox-content-box3 p:last-child{ padding-bottom:10px;}
.htbox-content-box4 { width:44%;display:inline-block;vertical-align:top;}
.htbox-content-box5{ width:88%;margin-left:8%;}
.htbox-content-box5 p:last-child{ padding-bottom:10px;}
.htbox-content-box6 { width:88%;margin-left:8%;}
.htcfm-box{ display:inline-block;}
.w50{ width:50%;}
.w20{ width:20%;}

.htong-subtitle{ font-size:14px;color:#666666;margin-left:2.9%;}
.details-box{ margin-left:9%;font-size:14px;color:#666666;padding:12px 0px;margin-top:12px;width: 90%;}
.feebox{ width:100%;margin-left:8.88%; padding-top:12px;padding-bottom:12px;}
.feebox p .right{ float:right;}
.content-hover{background:#e5e5e5;}
.nobox{ display:none;}
.bgwhite{ background:#fff;color: #666666;padding: 0px 3.73% 0px 3.2%;font-size: 14px;line-height: 26px;}
.icon-ht{margin-top: 1px;display:inline-block; width:5.8%;height:20px;background:url(../inc/images/hetong.png) 0 0 no-repeat;background-size:contain; float: left;}
.htong-num{color:#333333;display:inline-block; font-size: 16px;margin-left:2%;}

.noMain{ color:#666666; text-align:center; display:table;width:100%;}
.noMain div{ display:table-cell; vertical-align:middle;width:100%;height:100%;}
.noMain img{ max-width:100%;}
.noMain h6{ font-size:16px;line-height:26px;margin-top:40px;}
.noMain p{  font-size:14px;line-height:26px;}
.nosearchImg{margin-top:20%; background:url(../inc/images/xueba.png) no-repeat; width:120px;height:178px;display:inline-block; background-size:120px 178px;}
   
/*导航*/
.top-fixed{position:relative; left: 0px; top: 0px;text-align:center; width: 100%;background:#0070ba;font-size:18px;height: 40px;line-height:40px;box-sizing:border-box;padding-left:3.2%;padding-right:16px;}
.top-title{ color:#fff;display: inline-block;}
.back{ float:left; margin-top: 10px;display:inline-block;width:18px;height:18px;background:url(../inc/images/danghang-jiantou.png) 0 0 no-repeat;background-size:contain;}
.topMenu{ margin-top: 10px;display:inline-block;width:18px;height:18px;background:url(../inc/images/data.png) 0 0 no-repeat;background-size:contain; float: right;}
.winnerlist-guide {display:inline-block;width:52%;height:52%;margin-right:3%;background:url(../inc/images/new-date.png) 0 0 no-repeat;background-size:100% auto;position:absolute;top:0.5%;right:0;z-index:100;}
#popup-mask{ display:block;width:100%;height:100%;background:#000;z-index: 100;position:absolute;position:fixed;top:0;left:0;opacity: 0.6;}
/*日历*/
.data-month{display:inline-block;width:85%;position:absolute;top:30%;right:7.5%;z-index:200;}
.date-plug{height:187px;width:100%;background:#eee;}
.date-plug>ul{height:25%;width:100%;}
.date-plug>ul li:first-child{background: url(../inc/images/jiantou-l.png) no-repeat 75% 50%;background-size:15% auto;}
.date-plug>ul li:last-child{background: url(../inc/images/jiantou-r.png) no-repeat 25% 50%;background-size:15% auto;}
.date-plug>ul li{height:100%;width:30%;float:left;}
.date-plug>div{height:70%;}
.date-plug>div ul{height:33%;width:100%;background:#fff;border-bottom:1px solid #ccc;}
.date-plug>div li{float:left;height:100%;width:25%;/*list-style:none;*/color:#fff;text-align:center;line-height:250%}
.date-plug>div a{color:#666;}
.date-plug .year-plug{text-align:center;line-height:300%;color:#666;font-size:112.5%;width:40%;}


.index{ background:#f0f0f0;}
.index-top{ padding-top:50px;text-align:center;font-size:25px;color:#666666;margin-bottom:10px;}
.index-body{ width:100%;box-sizing:border-box;}
.index-body a { color:#666666;}
.index-body-box{ display:inline-block; width:49%;height:90px;text-align:center;margin-top:40px;}
.index-body-box img{ width:50%;height:auto;}
.index-body-box .t1 { margin-left:20%;}
.index-body-box .t2 { margin-right:10%;}
.index-body-box .title{ margin-top:8px;}
.index-footer{ margin-top:20%;height:20%;}
.index-footer img { width:100%;height:100%;}

.operBox{ border-bottom: 1px solid #e1e1e1; }
.title{ font-size:16px;border-bottom: 1px solid #e1e1e1; padding: 12px 3.2% 12px 8%;color:#333333; background:#f9f5f5;box-sizing:border-box;}
.operBox a { color:#666666;display:block;position:relative;}
.cmptitle{ font-size:16px;border-bottom: 1px solid #e1e1e1; padding: 12px 3.2% 12px 8%;color:#333333; background:#f9f5f5;box-sizing:border-box;}
.operBox .menu{ padding:0;background:#fff;font-size:14px;}	
.operBox .menu .m{ margin-left: 8%; padding:12px 0;padding-right:20px;}	
.operBox a:first-child:before{ display:none; }
.operBox a:before{ border-top: 1px solid #e1e1e1;content: " ";
    position: absolute;
    top: 0;
    left:7%;
    width: 100%;
    }
.operBox .menu a{ display:block;color:#666666;}
.operBox .menu .m .r{float:right;margin-top: 8px; -o-transform: rotate(315deg); -webkit-transform: rotate(315deg);-moz-transform: rotate(315deg); content: ""; display: block;width: 6px;height: 6px;margin-left: 0;border: 2px solid #c7c7cc;border-top: 0 none; border-left: 0 none;}
.menuhover2{ background:#ededed;text-indent: 8%;padding:12px 0;padding-right:20px;font-size:14px;}
.ts_num{padding:0 5px; margin-left:10px;font-size:14px;color:#fff;width:20px;border-radius:50px;background:#ff3b2f;text-align:center;}

/*龙虎榜*/
#wrapper{ width:100%;max-width:750px;margin-top:10px;padding-left: 4px;padding-right: 4px;box-sizing: border-box;}
.dtopbar{ margin-right:10px;margin-left:10px;width:100%; margin-right: auto;margin-left: auto;height:116px;max-width:100%;}
#dcontent{margin-right:auto;margin-left:auto;width:100%;max-width:750px;text-align: center;}
.boxschool{ margin-left:4px;margin-right:4px;}

.boxschoolfter{ background:#ffffff;height:18px;border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;}
.boxschooltbl{ width:100%;max-width:750px; border-collapse:collapse;border:1px solid #e1e1e1;}
.boxschoolspace1{ height:20px;width:100%;}

.boxschooltbl tr:nth-child(2n+1) td{background:#ffffff;}
.boxschooltbl tr:nth-child(2n+2) td{background:#f1f1f1;}

.boxschool th{ color:#ffffff;height:40px;font-size:1.25em;font-weight:bold;}
.boxschool tr{ height:36px;font-size:1.125em; }
.boxschool tr td{ border-right: 1px solid #e1e1e1;}

.tabletitle th{text-align:center;vertical-align: middle;font-weight: normal;font-size: 16px;height: 56px;}
.bgA1 {background: #50cfb1;width: 45px;border-bottom: 1px solid #fff;}
.bgA2 {background: #3fb4c5;border-bottom: 1px solid #fff;}
.bgA3 { width: 115px;border-bottom: 1px solid #fff;}
.bgA3a {background: #6b81e4; width: 100%;height: 50%;padding-top: 5px}
.bgA3b {background: #6b99e6; width: 100%;height: 50%;padding-top: 5px;}
.bgA4 {width: 80px;border-bottom: 1px solid #fff;}
.bgA4a {background: #fe706F; width: 100%;height: 50%;padding-top: 5px;}
.bgA4b {background: #6fc677; width: 100%;height: 50%;padding-top: 5px;}

.trcontent td{vertical-align: middle;color: #666666;font-size: 14px;height: 46px; }
.colA1{ text-align:center;}
.colA2{ text-align:left;text-indent: 6px;}
.colA3{ text-align:right;padding-right: 6px;}
.colA3a{ text-align:right;line-height: 23px;}
.colA3b{ text-align:right;line-height: 23px;}
.colA4{ text-align:right;padding-right: 18px;}
.colA4a{ text-align:right;color: #832505;line-height: 23px;}
.colA4b{ text-align:right;color: #01ab8d;line-height: 23px;}

.bgB1 {background: #50cfb1;width: 45px;border-bottom: 1px solid #fff;}
.bgB2 {background: #3fb4c5;border-bottom: 1px solid #fff;}
.bgB3 { width: 85px;border-bottom: 1px solid #fff;background: #6b81e4;}
.bgB4 {width: 85px;border-bottom: 1px solid #fff;}
.bgB4a {background: #fe706F; width: 100%;height: 50%;padding-top: 5px;}
.bgB4b {background: #6fc677; width: 100%;height: 50%;padding-top: 5px;}

.colB1{ text-align:center;}
.colB2{ text-align:left;padding-left: 6px;}
.colB3{ text-align:right;padding-right: 6px;}
.colB4{ text-align:right;padding-right: 6px;}
.colB4a{ text-align:right;color: #832505;line-height: 23px;}
.colB4b{ text-align:right;color: #01ab8d;line-height: 23px;}

.bgC1 {background: #50cfb1;width: 45px;border-bottom: 1px solid #fff;}
.bgC2 {background: #3fb4c5;border-bottom: 1px solid #fff;}
.bgC3 { width: 85px;border-bottom: 1px solid #fff;background: #6b81e4;}
.bgC4 {width: 105px;border-bottom: 1px solid #fff;background: #832505;}

.colC1{ text-align:center;}
.colC2{ text-align:left;padding-left: 5px;}
.colC3{ text-align:center;padding-right: 6px;}
.colC4{ text-align:right;padding-right: 6px;}

.bgE1 {background: #50cfb1;width: 45px;border-bottom: 1px solid #fff;}
.bgE2 {background: #3fb4c5;border-bottom: 1px solid #fff;width:50px;}
.bgE3 { width: 145px;border-bottom: 1px solid #fff;background: #6b81e4;}
.bgE4 {width: 145px;border-bottom: 1px solid #fff;}
.bgE4a {background: #fe706F; width: 100%;height: 50%;padding-top: 5px;}
.bgE4b {background: #6fc677; width: 100%;height: 50%;padding-top: 5px;}

.bgF1 {background: #50cfb1;width: 45px;border-bottom: 1px solid #fff;}
.bgF2 {background: #3fb4c5;border-bottom: 1px solid #fff;}
.bgF3 { width: 185px;border-bottom: 1px solid #fff;}
.bgF3a {background: #6b81e4; width: 100%;height: 50%;padding-top: 5px}
.bgF3b {background: #6b99e6; width: 100%;height: 50%;padding-top: 5px;}
.bgF4 {width:75px;border-bottom: 1px solid #fff;}
.bgF4a {background: #fe706F; width: 100%;height: 50%;padding-top: 5px;}
.bgF4b {background: #6fc677; width: 100%;height: 50%;padding-top: 5px;}

.loadingimg{ width:120px;}
.loadingimgpart{ z-index: 99999;width:100%;height:100%;position:fixed;top:50%;left:50%;margin-left:-60px;margin-top:-150px;}
.top10{ vertical-align:sub; background:url(images/TOP-10.png) no-repeat;height:17px;width:33px;background-size:33px 17px;display: inline-block;margin-left:10px;}
.top20{ vertical-align: sub; background:url(images/TOP-20.png) no-repeat;height:17px;width:33px;background-size:33px 17px;display: inline-block;margin-left:6px;}
.bgxh{ background:#50cfb1; width:10%;text-align:center;vertical-align: middle;}
.bgxq{ background:#3fb4c5; width:30%;text-align:center;vertical-align: middle;}
.bgblue{ background:#30b9ed; width:16.53%;}
.bgorange{ background:#ffc100;width:15.09%;}
.bgdarkred{ background:#832505; width:23.76%;}
.bgcyan{ background:#01ab8d;width:23.76%;}


/*进度条*/
.prgs {width:100%; vertical-align:middle;display:inline-block;height: 20px; background: #ebebeb; border-left: 1px solid transparent; border-right: 1px solid transparent; border-radius: 10px; }
.prgs > span { position: relative; float: left; margin: 0 -1px; min-width: 0px; height: 18px; line-height: 16px; text-align: right; background: #cccccc; border: 1px solid; border-color: #bfbfbf #b3b3b3 #9e9e9e; border-radius: 10px; background-image: -webkit-linear-gradient(top, #f0f0f0, #dbdbdb 70%, #cccccc); background-image: -moz-linear-gradient(top, #f0f0f0, #dbdbdb 70%, #cccccc); background-image: -o-linear-gradient(top, #f0f0f0, #dbdbdb 70%, #cccccc); background-image: linear-gradient(to bottom, #f0f0f0, #dbdbdb 70%, #cccccc); -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2); box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2);-webkit-animation: load 1s ease-in-out 1;-moz-animation: load 1s ease-in-out 1; -o-animation: load 1s ease-in-out 1;animation: load 1s ease-in-out 1;  }
.prgs > span > span { padding: 5px 5px; font-size: 10px; color: #333333;}
.progress .green { background: #85c440; border-color: #78b337 #6ba031 #568128; background-image: -webkit-linear-gradient(top, #b7dc8e, #99ce5f 70%, #85c440); background-image: -moz-linear-gradient(top, #b7dc8e, #99ce5f 70%, #85c440); background-image: -o-linear-gradient(top, #b7dc8e, #99ce5f 70%, #85c440); background-image: linear-gradient(to bottom, #b7dc8e, #99ce5f 70%, #85c440); }
.progress .red { background: #db3a27; border-color: #c73321 #b12d1e #8e2418; background-image: -webkit-linear-gradient(top, #ea8a7e, #e15a4a 70%, #db3a27); background-image: -moz-linear-gradient(top, #ea8a7e, #e15a4a 70%, #db3a27); background-image: -o-linear-gradient(top, #ea8a7e, #e15a4a 70%, #db3a27); background-image: linear-gradient(to bottom, #ea8a7e, #e15a4a 70%, #db3a27); }
.progress .orange { background: #f2b63c; border-color: #f0ad24 #eba310 #c5880d; background-image: -webkit-linear-gradient(top, #f8da9c, #f5c462 70%, #f2b63c); background-image: -moz-linear-gradient(top, #f8da9c, #f5c462 70%, #f2b63c); background-image: -o-linear-gradient(top, #f8da9c, #f5c462 70%, #f2b63c); background-image: linear-gradient(to bottom, #f8da9c, #f5c462 70%, #f2b63c); }
.progress .blue { background: #5aaadb; border-color:#459fd6 #3094d2 #277db2; background-image: -webkit-linear-gradient(top, #aed5ed, #7bbbe2 70%, #5aaadb); background-image: -moz-linear-gradient(top, #aed5ed, #7bbbe2 70%, #5aaadb); background-image: -o-linear-gradient(top, #aed5ed, #7bbbe2 70%, #5aaadb); background-image: linear-gradient(to bottom, #aed5ed, #7bbbe2 70%, #5aaadb); }
@-webkit-keyframes load {
    0% {
        width: 0%;
    }
}

/* 指标完成情况 */
.accTitle{  padding: 12px 3.2% 12px 3.2%; border-bottom:1px solid #cdcccc;background:#fff;}
.accTitle i{width:20px; display:inline-block; vertical-align:bottom; margin-right:5px;}
.accTitle p{ background:url(images/qyh3.jpg) no-repeat right center;background-size:auto 15px;}
.accomRate { background: url(images/qyh11.jpg);background-size: 100%;height: 20px;}
.accTitle .selected p{background:url(images/qyh4.jpg) no-repeat right center;background-size:auto 15px;}
.progress{font-size:14px;position:relative; padding: 12px 3.2% 0 3.2%; width:100%; margin:0 auto;color:#666666;box-sizing: border-box;}
.progress .nav { bottom: -15px;z-index:1;background:url(images/href.png) no-repeat bottom right;position:absolute;right: 3.2%;width:30px;height:30px; background-size:100%;}
.progress .prate{ position:relative;padding-bottom:12px;border-bottom:1px solid #e1e1e1;}
.progress .prate .prate-l{ display:inline-block;width:25%;}
.progress .prate .prate-l p { line-height:20px;text-align:right;}
.progress .prate .prate-r{ display:inline-block;vertical-align:top;width:72%;}

.progress .prate .new-l{ display:inline-block;width:25%;}
.progress .prate .new-l p{ line-height:25px;text-align:right;}
.progress .prate .new-r { display:inline-block;width:72%;vertical-align:top;} 
.progress .prate .new-r  p{ line-height:25px;}

.data p{ line-height:20px;font-size:12px;}
.data-l{ display:inline-block;width:25%;}
.data-m{ display:inline-block;vertical-align:top;margin-left:10%;width:30%;}
.data-m p{ text-align:right;}
.data-r{ display:inline-block;vertical-align:top;}
.icon-tipb{margin-right:5px; vertical-align: sub; display:inline-block;width:18px;height:18px;background:url(../default/images/tishi-blue.png) 0 0 no-repeat;background-size:contain;}
.timetip{ z-index:2; position:fixed;bottom:0;background:#fff;font-size:14px;padding: 4px 12px 4px 12px;color:#1db1e8; width: 100%;text-align: center;margin-right:0;margin-left:0;box-sizing:border-box;border-top: 1px solid #eee;}
.targetMain{padding-bottom: 45px;} 
.emDepName{ margin-left:25%;}
.line20{ line-height:20px;}


.top-score{ margin:20px 20px 0 20px; padding-top:50px;background:url(images/balloon.png) no-repeat;background-size: 35px 50px; }
.top-score .title{ background:url(images/title.png) no-repeat;background-size:100%;height:120px;position:relative;text-align:center;}
.top-score .title  img{ height:120px;margin-top:-35px;}
.middle-score { margin:-72px 27px 0 27px;position:relative;z-index:-1;}
.middle-score .info{ background:#fff;height:150px;border-top-left-radius: 100px 20px;
    border-top-right-radius: 100px 20px;border-bottom:1px dotted #d3d3d3;padding-bottom:26px}
.middle-score .name{ background:url(images/yellow.png) no-repeat;background-size:100%;width:80%;position:absolute;top:70px;margin-left:-8px;padding:14px 0 40px 18px; }
.middle-score .name p{ line-height:30px;font-size:20px;color:#6a6109; }
.middle-score .score{ background:#fff;height:110px;position:relative;border-bottom-left-radius:5px;border-bottom-right-radius:5px;}
.middle-score .score p{ text-align:center;line-height:110px;}
.middle-score .score p:last-child{ margin-bottom:100px;}
.middle-score .score .red{ color:#ff4145;font-size:54px;}
.middle-score .ball{ background:url(images/half-balloon.png) no-repeat;    
    position: absolute;
    top: 14px;
    right: -14px;
    background-size:contain;
    width: 25px;
    height: 32px;
    z-index: -1;
}
.action-score{ margin:15px 27px 60px;}
.action-score a{display:inline-block; background:#ff4145;width:100%;height:48px;line-height:48px;
                color:#fff;text-align:center;font-size:18px;border-radius:2px;}
.action-score .rank{ margin-top:15px;background:#2fa6ea; }
.bottom-score{ position:fixed;bottom:-4px;}
.bottom-score img{ height:44px;width:100%;}

/*福利*/
.htbox2{ display:block;width: 100%;margin-top:10px;}
.welfare{overflow:hidden;}    
.yh-img{display:block;content:"";padding-top:39.8%;position:relative;}
.fl-img{background: url(images/user-background.jpg) no-repeat;background-size:100% auto;position:absolute;top:0;left:0;bottom:0;right:0;width:100%;height:100%;}
.yh-logo{background:url(images/user-head.png) no-repeat;background-size:20%;width:100%;height:100%;position:absolute;margin:10% 0% 0% 23%;}
.yh-info{height:30%;float:left;margin-top:10%;padding-left:48%;}
.yh-info>div{color:#eee;margin-top:5%;}/*字体大小问题*/
.yh-name{font-size:1em;font-weight:bold;color:#eee;}/*字体大小问题*/
.yh-dpm{font-size:1em;color:#eee;}/*字体大小问题*/
.yh-mark{font-size:0.75em;color:#eee;width:85%;text-align:center;background:rgba(3,3,3,0.3);padding:5% 10%;border-radius:5px;}/*字体大小问题*/

.fl-card{width:100%;margin-top:3.75%;background:#fff;border-top:1px solid #ccc;border-bottom:1px solid #ccc;}
.fl-card1{overflow:hidden;width:100%;height:60px;padding:3% 0% 0% 5%;}
.fl-slt{float:left;height:120px;width:20%;background:url(images/bl-card.png) no-repeat;background-size:100%;margin:0% 1% 0% 1%;}
.fl-nr{width:50%;margin-left:2.5%;float:left;margin-top:1%;}
.fl-lq{float:right;height:100px;width:12.5%;background:url(images/lq.png) no-repeat;background-size:contain;vertical-align:middle;margin-top:3.75%;margin-right:10%}
	
.back-last{width:80%;position:absolute;bottom:0;overflow:hidden;}
.back-last>a{color:#fff;background:#ff3f44;}
.fl-nr>p:first-child{font-size:100%;color:#333;margin-bottom:3%;}
.fl-nr>p:last-child{font-size:87.5%;color:#666;margin-top:3%;}

.fl-card>hr{width:95%;height:1px;border:none;border-top:1px solid #eee;margin:0 0 0 5%;}

/*中奖纪录*/
.winning-record{height:100%;background: #ff3f44 url(images/zhongjiang.jpg) no-repeat;background-size:100% auto;overflow:hidden;}
.record{width:80%;height:40%;margin-top:50%;left:15%;position:absolute;overflow:auto;}
.record>p{margin:2% 2%;font-size:87.5%;color:#333;overflow:auto;}	
.submit-box{ padding: 10px 10% 10px 10%;}
.ht-submit{display:inline-block;text-align:center;border-radius:2px;line-height:35px;color:#fff;background:#ff3b2f;border:none;width:100%;height:35px;font-size:16px;margin-bottom:10px;}
.zj-submit{display:block;text-align:center;border-radius:2px;line-height:42px;color:#ff3f44;background:#ffeaca;border:none;width:100%;height:42px;font-size:100%;margin-top:170%;margin-bottom:10%;}
.zj-submit:active{background:#d4c0a2}

/*员工福利清单*/
.yg-flqd{margin:3% 3%}
.yg-flqd>a{margin:3% 0%;display:block;}
.yg-flqd>a>img{width:100%;height:100%;}

/*业务助手*/
.swiper-slide>img{width:100%;height:100%;}
	
.business #contain{/*float:left;display: block;padding-top:30%;*/display:block;content:"";padding-top:47.5%;position:relative;}
.business #posi{margin:45% 0 0 45%;width: 100px;height: 25px;position: absolute;}

.business{height:100%;background-color:#eee;}
.business>.hd-img{display:block;content:"";padding-top:50%;position:relative;height:50%;margin:0%}
.business .imageShow{background: url(images/banner1.jpg) no-repeat;background-size:100% auto;position:absolute;top:0;left:0;bottom:0;right:0;width:100%;height:100%;}
.business-hdimg{background: url(images/banner1.jpg) no-repeat;background-size:100% auto;position:absolute;top:0;left:0;bottom:0;right:0;width:100%;height:100%;}
.radio{width: 15px;height: 15px;margin:1%;cursor: pointer;background: red;}
	
.the-nine{height:70%;margin-top:3%;display:block;border-top:1px solid #dedede;}

.checks{display:inline-block;width:calc(100% / 3 - 1px);/*padding:4% 6% 5% 6%;*/;background-color:#fff;float:left;border-bottom:1px solid #dedede;border-left:1px solid #dedede;}
/*border问题*/
/*.the-nine>div:first-child{display:block;width:100%;}*/
/*.the-nine>div>div:last-child{border-right:1px solid #dedede;} 九宫格右侧边框*/


.checks>a{display:block;}
.checks>a>div{overflow:hidden;padding:0% 5% 65% 5%;margin-top:9.5%;/*width:75%;margin-left:10%;*/background-size:55% auto;}
.checks>a>span{padding-top:2%;padding-bottom:9.5%;height:10%;width:100%;text-align:center;display:inline-block;color:#666;font-size:14px;}
.checks-bottom{height:1px;background-color:#dedede;}
	
.tb-01{background:url(images/tb-01.png) center center no-repeat;}
.tb-02{background:url(images/tb-02.png) center center no-repeat;}
/*.tb-03{background:url(images/tb-03.png) center center no-repeat;}*/
.tb-04{background:url(images/tb-04.png) center center no-repeat;}
.tb-05{background:url(images/tb-05.png) center center no-repeat;}
/*.tb-06{background:url(images/tb-06.png) center center no-repeat;}
.tb-07{background:url(images/tb-07.png) center center no-repeat;}
.tb-08{background:url(images/tb-08.png) center center no-repeat;}
.tb-09{background:url(images/tb-09.png) center center no-repeat;}*/
/*敬请期待*/
.tb-03,.tb-06,.tb-07,.tb-08,.tb-09{background:url(images/gray-2.png) center center no-repeat;}
.tb-10{background:url(images/tb-10.png) center center no-repeat;}

.cmp-total{ margin-left:8%;margin-top:10px;margin-bottom: 5%;}
.cmp-total a { color: #666666;}
.cmp-total a:visited { color: #666666;}

.no-data{margin-top:30%;text-align:center;font-size:18px;}
.no-data img{width:50%;margin-bottom:10%;}
