body{max-width: 750px; margin: auto; background: #efeff4;color: #333; font-size: 16px;font-family: 'helvetica neue',tahoma,'hiragino sans gb',stheiti,'wenquanyi micro hei',"Microsoft Yahei",sans-serif,Arial,Roboto;}
header{
    height: 1.55rem;
    line-height: 1.55rem;
    margin: 0;
    text-align: center;
    font-size: .3rem;
    color: #333333;
}
h3{margin: 0;padding: 0;}
header img{
    width: 100%;
}
i,em{font-style: normal;}
.jf-container{
    border-bottom: 2px dotted #e2e2e2;
    margin: .0rem .3rem 0 .3rem;
    padding-bottom: .2rem;
}
.mt30{margin-top: .30rem;}
.f-left{float: left;}
.f-right{float: right;}
.clearfix:after{content: '';display: block;clear: both;}
.pay-label{font-size: .24rem;color: #999999;}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none !important;
    margin: 0;
}

.info-container{
    width: 6.8rem;
    height: 4.8rem;
    margin:.9rem auto;
    background: #fff;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    position: relative;
    padding: 0 .3rem;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.info-container:before{
    background: url(/static/images/project/edu/check_status.png) no-repeat;background-size: 100%;
    display: inline-block;height: 1rem;width: 1rem;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: -.5rem;
    content: '';
}
.pay-type{
    font-family: 400;
    font-size: .32rem;color: #333;
    text-align: center;line-height: .7rem;
    padding: 0;margin: .7rem 0 0 0;
    font-weight: 400;
}
.price{font-size: .36rem;color: #333;text-align: center;line-height: .7rem;font-weight: 600;}
.highlight{color: #ff6804;font-size: .32rem;padding: 0 0.05rem;}
.items-wrap{
    position: relative;
    font-size: .32rem;
    line-height: .6rem;
    color: #666666;
}
.right-center{float: right;}
.footer-wrap{
    position: absolute;
    bottom: 0;
    width: 6.8rem;
    margin:0rem auto;
    left: 0;
    right: 0;
}
.footer-wrap img{
    display: block;
    width: 100%;
}
.footer-wrap footer{
    text-align: center;
    color: #bfbec4;
    font-size: .24rem;
    height: 1rem;line-height: 1rem;
    font-weight: 500;
}
.footer-wrap footer:before{
    content: '';
    display: inline-block;
    background: url(/static/images/project/edu/wx_icon.png)no-repeat;
    width: .36rem;
    height: .32rem;
    background-size: 100%;
    vertical-align: middle;
    margin: 0 .2rem;
}

/*支付失败*/
.fail_tip{width:4.32rem;font-size:0.36rem;padding-top:4rem;position:relative;color:#444;margin:0 auto;word-wrap:break-word;word-break:break-all;}
.fail_tip:before{content:'';display:inline-block;width:1.4rem;height:1.4rem;border-radius:1.4rem;background:#e53546 url(/static/images/project/edu/close_140.png) 0 0 no-repeat;background-size:100%;position:absolute;top:2rem;left:50%;margin-left:-0.7rem;}
